.chat-group-form
  %h1 チャットグループ編集
  %div#new_chat_group.new_chat_group
    = form_for @group do |f|
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          = f.label :グループ名, class: "chat-group-form__label", for: "chat_group_name"
        .chat-group-form__field--right
          = f.text_area :group_name, row: "1", placeholder: "グループ名を入力してください", id: "chat_group_name", class: "chat-group-form__input"
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          = f.label :チャットメンバー, class: "chat-group-form__label", for: "chat_group_チャットメンバー"
        .chat-group-form__field--right
          #chat-group-users
            #chat-group-user-22.chat-group-user.clearfix
              %input{:name => "group[user_ids][]", :type => "hidden", :value => "1"}/
              %p.chat-group-user__name seo_kyohei
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
        .chat-group-form__field--right
          = f.submit "Save", name: "commit", class: "chat-group-form__action-btn"
